.vue-container {
  @include flex(center, center);
  flex-direction: column;
  background: transparent;

  &__legend {
    @include flex(flex-start, center);
    flex-wrap: wrap;
    max-width: rem(375px);
    border-radius: 20px;
    padding: 10px;
    background-color: var(--tertiary);
    font-size: rem(12px);
    font-weight: $font-weight-normal;
    box-shadow: $box-shadow-sharpen;
  }

  &__lists {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: rem(10px);
    align-content: center;
    justify-items: stretch;
    margin: 20px 0;

    @media screen and (min-width: $md){
      justify-content: center;
    }
  }

  &__elem {
    width: 100%;
    margin: 0;
    & + &:not(.list__elem) {
      margin-left: 10px;
    }

    &--common {
      width: max-content;
      color: $base;
    }

    &--uncommon {
      width: max-content;
      color: $success;
    }

    &--rare {
      width: max-content;
      color: $primary;
    }

    &--ultra-rare {
      width: max-content;
      color: $secondary;
    }
  }
}
