.list {
  height: max-content;
  max-width: rem(768px);
  background-color: var(--tertiary);
  border-radius: rem(20px);
  box-shadow: $box-shadow-sharpen;
  padding: 0;

  &__title {
    background-color: var(--tertiary);
    color: var(--body-color);
    font-size: rem(20px);
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  &__text {
    padding: 0 16px;
    text-transform: capitalize;
    font-weight: $font-weight-normal;
  }

  &__icon {
    @include size(rem(30px));
  }

  &__btn {
    height: max-content;
    background-color: $tertiary-darker;
    &:hover{
      background-color: darken($tertiary-darker, 10%);
    }
  }

  &__elem-group {
    @include flex(center, space-between);
    padding: 5px;
  }
  
  &__elem {
    @include size(100%, auto);
    @include flex(center, flex-start);
    font-size: rem(14px);
    font-weight: $font-weight-normal;
    text-transform: capitalize;
    padding: 0;

    &:hover {
      cursor: pointer;
    }

    &--common {
      color: $base;
    }

    &--uncommon {
      color: $success;
    }

    &--rare {
      color: $primary;
    }

    &--ultra-rare {
      color: $secondary;
    }
  }

  &__elem-label {
    margin-right: auto;
    margin-left: 0;
    padding-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @media screen and (min-width: 375px) {
    max-width: 100%;
  }
}
