.list {
  height: max-content;
  max-width: rem(768px);
  background-color: var(--tertiary);
  border-radius: rem(20px);
  box-shadow: $box-shadow-sharpen;
  padding: 0;

  &__title {
    background-color: var(--tertiary);
    color: var(--body-color);
    font-size: rem(20px);
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  &__text {
    padding: 0 16px;
    text-transform: capitalize;
    font-weight: $font-weight-normal;
  }

  &__elem {
    @include size(100%, auto);
    @include flex(center, space-between);
    font-size: rem(14px);
    font-weight: $font-weight-normal;
    text-transform: capitalize;
    transition: font-size 0.15s linear;
    will-change: font-size;
    padding: 0;

    &:hover {
      cursor: pointer;
    }

    &--common {
      color: $base;
    }

    &--uncommon {
      color: $success;
    }

    &--rare {
      color: $primary;
    }

    &--ultra-rare {
      color: $secondary;
    }
  }
}