/*------------------------------*/
/* BASE                         */
/* ---------------------------- */
body {
  background-image: radial-gradient(var(--tertiary) 5%, transparent 5%),
    radial-gradient(var(--tertiary) 5%, transparent 5%);
  background-color: var(--body-bg);
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
  color: var(--body-color);
  font-family: $font-family-primary;
  font-weight: $font-weight-bold;
  font-size: $font-size-body;
  line-height: 1;
  & .modal--show {
    overflow: hidden;
  }
}

a {
  text-decoration: $link-decoration;
  color: $secondary;
  font-weight: $font-weight-light;
  cursor: pointer;
}

b {
  font-weight: $font-weight-bold;
}

input::placeholder {
  color: $grey-100;
  font-family: $font-family-primary;
  font-size: 1rem;
  font-weight: $font-weight-light;
}

button {
  border: 0;
  background: none;
}
