//------------------------------//
// ICONS                        //
// ---------------------------- //

.icon {
	width: 2.5rem;
	height: 2.5rem;
	fill: var(--body-bg);
}

// -- Sizes --- //

.icon--ms {
	width: 3rem;
  height: 3rem;
}

.icon--sm {
	width: 1.5rem;
	height: 1.5rem;
}

