// ------------------------------------------
// VARIABLES
// ------------------------------------------

// Color palette
// -----------------------------------------

// Colors
$primary: #49dbc6;
$secondary:#ea526f;
$tertiary: #fffae6;
$base: #867968;
$success: #72e67d;
$brown-100: #ba9461;

// Grey
$grey-100: #c4c4c4;
$grey-200: #525252;
$grey-300: #333;
$grey-400: #202020;


// Gradients

$gradient: linear-gradient(0, $primary 0%, $secondary 100%);

// Scaffolding
// ------------------------------------------
$header-height: 60px;
$navbar-height: 50px;

$navbar-width-desktop: 20vw;


$link-color: $secondary;
$link-decoration: none;
$link-hover: none;

$padding-sides: 30px;

$border: 1px solid $grey-100;

$box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.075);

$box-shadow-sharpen: 0 3px 1px 1px rgba(0, 0, 0, 0.05);
$box-shadow-sharpen-up: 0 -3px 1px 1px rgba(0, 0, 0, 0.05);
$box-shadow-sharpen-right: 3px 0px 1px 1px rgba(0, 0, 0, 0.05);

// Font
// ------------------------------------------

$font-primary: "AcnhDialog";
$font-secondary: "AcnhTitle";
$font-family-primary: $font-primary,
Arial,
sans-serif;
$font-family-secondary: $font-primary,
serif;

$font-size-body: 16px;
$font-size-base: 1rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;


// Breakpoints
// ------------------------------------------
$md: 768px;
$lg: 1023px;


// Light and Dark theme
// ------------------------------------------

:root {
  --body-color: #{$base};
  --body-bg: #fff3c5;
  --tertiary: #{$tertiary};
  --hover-bg: #{darken($tertiary, 2.5%)};
  --icon-filter: grayscale(1);
  --icon-filter-selected: none;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --body-color: #fff;
//     --body-bg:  #{$grey-400};
//     --tertiary: #{$grey-200};
//     --hover-bg: #{darken($grey-300, 2.5%)};
//     --icon-filter: grayscale(1) invert(1) opacity(0.8);
//     --icon-filter-selected: hue-rotate(-180deg) invert(1) opacity(1);
//   }
// }
