/* You can add global styles to this file, and also import other style files */
// FONTS                        //
// ---------------------------- //
@font-face {
  font-family: 'AcnhTitle'; /*a name to be used later*/
  src: url(./assets/font/FinkHeavy.ttf); /*URL to font*/
  src: url(./assets/font/FinkHeavy.woff2); /*URL to font*/
  src: url(./assets/font/FinkHeavy.woff); /*URL to font*/
}
@font-face {
  font-family: 'AcnhDialog'; /*a name to be used later*/
  src: url(./assets/font/ArialRoundedBold.ttf);
}

// CORE                         //
// ---------------------------- //
@import 'mixins/mixins';
@import 'global/variables';
@import 'global/reset';
@import 'global/base';
@import 'global/icons';
@import 'global/transitions';

// COMPONENTS                   //
// ---------------------------- //
@import 'ui/button';

