/* You can add global styles to this file, and also import other style files */
// FONTS                        //
// ---------------------------- //
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700i&display=swap');

// CORE                         //
// ---------------------------- //
@import 'mixins/mixins';
@import 'global/variables';
@import 'global/reset';
@import 'global/base';
@import 'global/icons';
@import 'global/transitions';

// COMPONENTS                   //
// ---------------------------- //
@import 'ui/button';

// VUE MATERIAL                 //
// ---------------------------- //
// Expansion list
.md-list {
  &-item {
    height: fit-content;
    &-content {
      @include flex(center, space-between);
      min-height: 0;
    }
  }
  &-expand-icon {
    @include size(rem(36px), rem(36px));
    fill: var(--body-color);
  }
}
