// ------------------------------------------
// VARIABLES VUETIFY
// ------------------------------------------
@import '../styles/global/variables';
@import '../styles/mixins/mixins';
// VUETIFY                      //
// ---------------------------- //

$color-pack: false;

$body-font-family: $font-family-primary;
$heading-font-family: $body-font-family;

$kbd-color: var(--body-color);
$kbd-background-color: var(--body-bg);
$code-color: var(--body-color);
$code-background-color: var(--body-bg);

$expansion-panel-content-padding: 0;
$color-pack: false;
$list-item-content-padding: 6px 0;

$select-selections-padding-top: 30px;

$icon-size: 28px;

$menu-content-border-radius: rem(20px);
$sheet-border-radius: rem(20px);
$list-border-radius: rem(20px);
$list-padding: 0;