// ------------------------------------------------------
// DISPLAY MIXINS
// ------------------------------------------------------


// Flex
// ----------------------------------------------
@mixin flex($align-item:center, $justify-content:center) {
  display: flex;
  align-items: $align-item;
  justify-content: $justify-content;
}